#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh; 
    background-color: white;
    gap: 2px;
}

button {
    padding: 6px 24px;
    font-size: large;
    height: 8vh;
}

#btn_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.rowDiv {
    display: flex;
    height: 10px;
    background-color: white;
    justify-content: space-between;
    flex: 1;
    gap: 2px;
}

.elementDiv {
    width: 10px;
    background-color: lightgray;
    flex: 1;

}